/* ---------------  Defaults  ----------- */

* {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

/* .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
} */

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100; }

/* ---------------  NAV BAR  -------------- */
nav {
    width: 100%;
    margin: 0%;
    background-color: #094067;
}

.logo {
    width: 270px;
    height: 47px;
    padding-left: 30px;
    padding-top: 6px;
    padding-bottom: 4px;
}

nav ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
}

nav ul li a {
    color: #fff;
    font-size: 15px;
    float: right;
    line-height: 1;
    padding: 20px;
    text-decoration: none;
    margin: 1px;
}

nav ul li a:hover {
    background-color: #3da9fc;
    transition: 1s;
}

nav ul li.dropdown {
    display: none;
}

/* ---------------  1st image  -------------- */
.banner-card {
    position: relative;
}

.banner-card img {
    width: 100%;
    height: auto;
}

img.mainimg {
    width: 100%;
    height: 900px;
}

.banner-text {
    position: absolute;
    top: 36%;
    color: #094067;
    padding: 5px; 
    left: 3%;
    background: none;
}

.banner-text h4 {
    color: #083c62;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    background: none;
    padding-bottom: 9px;    
}

/* ---------------  1st blog  -------------- */
.blog-card1 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;    
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.23);
}

.profile-card1 {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
  
.profile-card1 img {
    width: 75px;
    height: 75px;
    margin-right: 2%;
    border: 4px solid #3da9fc;
    border-radius: 50%;
    margin-left: 40%;
    margin-bottom: 2%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
  
.profile-card1 h2 {
    margin: 0;
    font-size: 47px;
    margin-left: 3%;
    color: #094067;
}
  
.blog-card1 p {
    font-size: 23px;
    line-height: 1.5;
    margin-left: 5%;
    margin-right: 3%;
    margin-bottom: 2%;
    color: #094067;
}

/* ---------------  2nd blog  -------------- */
.blog-card2 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;    
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.23);
}

.profile-card2 {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
  
.profile-card2 img {
    width: 75px;
    height: 75px;
    margin-right: 2%;
    border: 4px solid #3da9fc;
    border-radius: 50%;
    margin-left: 35%;
    margin-bottom: 2%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
  
.profile-card2 h2 {
    margin: 0;
    font-size: 47px;
    margin-left: 5%;
    color: #094067;
}

.imgpost2 img {
    height: 500px;
    width: 1025px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

/* ---------------  3rd blog  -------------- */
.blog-card3 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 170px;    
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.23);
}

.profile-card3 {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
  
.profile-card3 img {
    width: 75px;
    height: 75px;
    margin-right: 20px;
    border: 4px solid #3da9fc;
    border-radius: 50%;
    margin-left: 240px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
  
.profile-card3 h2 {
    margin: 0;
    font-size: 47px;
    margin-left: 30px;
    color: #094067;
}

.imgpost3 img {
    height: 400px;
    width: 800px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
}

.blog-card3 p {
    font-size: 23px;
    line-height: 1.5;
    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 20px;
    color: #094067;
}

/* ---------------  4th blog  -------------- */
.blog-card4 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;    
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.23);
    margin-bottom: 60px;
}

.profile-card4 {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
  
.profile-card4 img {
    width: 75px;
    height: 75px;
    margin-right: 20px;
    border: 4px solid #3da9fc;
    border-radius: 50%;
    margin-left: 240px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
  
.profile-card4 h2 {
    margin: 0;
    font-size: 47px;
    margin-left: 30px;
    color: #094067;
}

.imgpost4 img {
    height: 400px;
    width: 800px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

/* ---------------  Footer  -------------- */
.social-icon, .about-us, .faq {
    margin: 50px;
}

.bottom-bar {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #032b48;
    color: #fff;
    padding: 50px;
}

.social-icon {
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.social-icon img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.faq a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    vertical-align: middle;
}

.about-us a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    vertical-align: middle;
}




/* ---------------  Responsive at 1325  -------------- */    
@media screen and (max-width: 1325px) {

/* ---------------  1st image  -------------- */
    
    .img.mainimg {
        height: 800px;
    }
    
    .banner-text {
        top: 39%;
        left: 2%;
    }
    
    .banner-text h4 {
        font-size: 25px; 
    }

/* ---------------  1st blog  -------------- */
    .blog-card1 {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10%;    
    }
      
    .profile-card1 img {
        width: 75px;
        height: 75px;
        margin-right: 2%;
        margin-left: 25%;
        margin-bottom: 2%;
    }
      
      .profile-card1 h2 {
        font-size: 47px;
        margin-left: 3%;
    }
      
      .blog-card1 p {
        font-size: 23px;
        line-height: 1.5;
        margin-left: 5%;
        margin-right: 3%;
        margin-bottom: 2%;
    }

/* ---------------  2nd blog  -------------- */
    .blog-card2 {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10%;    
    }
  
    .profile-card2 img {
        width: 75px;
        height: 75px;
        margin-right: 5%;
        margin-left: 15%;
        margin-bottom: 2%;
    }
  
    .profile-card2 h2 {
        font-size: 47px;
        margin-left: 3%;
    }
    
    .imgpost2 img {
        height: 470px;
        width: 710px;
        margin-left: 5%;
        margin-right: 5%;
    }

/* ---------------  3rd blog  -------------- */
    .blog-card3 {
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 100px;    
    }
  
    .profile-card3 img {
        width: 75px;
        height: 75px;
        margin-right: 20px;
        margin-left: 150px;
        margin-bottom: 20px;
    }
  
    .profile-card3 h2 {
        font-size: 47px;
        margin-left: 30px;
    }
    
    .imgpost3 img {
        height: 270px;
        width: 580px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .blog-card3 p {
        font-size: 23px;
        line-height: 1.5;
        margin-left: 50px;
        margin-right: 30px;
        margin-bottom: 20px;
    }

    /* ---------------  4th blog  -------------- */
    .blog-card4 {
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 100px;    
    }
  
    .profile-card4 img {
        width: 75px;
        height: 75px;
        margin-right: 20px;
        margin-left: 150px;
        margin-bottom: 20px;
    }
  
    .profile-card4 h2 {
        font-size: 47px;
        margin-left: 30px;
    }
    
    .imgpost4 img {
        height: 270px;
        width: 580px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

/* ---------------  Responsive at 768  -------------- */ 
@media screen and (max-width: 768px) {
    /* --- NAV BAR --- */
    nav ul li:not(:nth-child(1)) {
        display: none;
    }

    nav ul li.dropdown {
        display: block;
    }

    nav ul.topnav.responsive li.dropdown {
        position: absolute;
    }

    ul.topnav.responsive {
        position: relative;

    }

    ul.topnav.responsive li {
        display: inline;
    }

    ul.topnav.responsive li a {
        display: block;
    }

    .logo {
        width: 160px;
        height: 40px;
    }

/* ---------------  1st image  -------------- */
    
    img.mainimg {
        height: 600px;
    }
    
    .banner-text {
        top: 39%;
        left: 1%;
    }
    
    .banner-text h4 {
        font-size: 16px; 
    }

    /* ---------------  1st blog  -------------- */
    .blog-card1 {
        margin-left: 18%;
        margin-right: 18%;
        margin-top: 10%;    
    }
      
    .profile-card1 img {
        width: 67px;
        height: 67px;
        margin-right: 2%;
        margin-left: 20%;
        margin-bottom: 2%;
    }
      
      .profile-card1 h2 {
        font-size: 42px;
        margin-left: 3%;
    }
      
    .blog-card1 p {
        font-size: 21px;
        line-height: 1.5;
        margin-left: 5%;
        margin-right: 3%;
        margin-bottom: 2%;
    }

/* ---------------  2nd blog  -------------- */
    .blog-card2 {
        margin-left: 250px;
        margin-right: 200px;
        margin-top: 100px;    
    }
      
    .profile-card2 img {
        width: 67px;
        height: 67px;
        margin-right: 200px;
        margin-left: 500px;
        margin-bottom: 200px;
    }
      
      .profile-card2 h2 {
        font-size: 42px;
        margin-left: 30px;
    }

    .imgpost2 img {
        height: 250px;
        width: 250px;
        margin-left: 10;
        margin-right: 10%;
    }

    /* ---------------  3rd blog  -------------- */
    .blog-card3 {
        margin-left: 180px;
        margin-right: 180px;
        margin-top: 100px;    
    }
      
    .profile-card3 img {
        width: 67px;
        height: 67px;
        margin-right: 20px;
        margin-left: 90px;
        margin-bottom: 20px;
    }
      
      .profile-card3 h2 {
        font-size: 42px;
        margin-left: 30px;
    }

    .imgpost3 img {
        height: 250px;
        width: 425px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .blog-card3 p {
        font-size: 21px;
        line-height: 1.5;
        margin-left: 50px;
        margin-right: 30px;
        margin-bottom: 20px;
    }

    /* ---------------  4th blog  -------------- */
    .blog-card4 {
        margin-left: 180px;
        margin-right: 180px;
        margin-top: 100px;    
    }
      
    .profile-card4 img {
        width: 67px;
        height: 67px;
        margin-right: 20px;
        margin-left: 90px;
        margin-bottom: 20px;
    }
      
      .profile-card4 h2 {
        font-size: 42px;
        margin-left: 30px;
    }

    .imgpost4 img {
        height: 250px;
        width: 425px;
        margin-left: 50px;
        margin-right: 50px;
    }
}
